{% load staticfiles %}

<a class="viz-card" href="{% url 'viz' viz.pk %}">
  <div class="viz-demo">
  </div>
  <div class="viz-info">
    <div class="left">
      <span class="name">{{ viz.name }}</span>
      <span class="author">by {{ viz.creator }}</span>
    </div>
    <div class="right">
      {% if viz.interactive == 1 %}
        {% include "cubetube/partials/_interactive_svg.html" %}
      {% else %}
        {% include "cubetube/partials/_cube_svg.html" %}
      {% endif %}
    </div>
  </div>
<!-- <a class="thumbnail-link" >
  <div class="card" id="viz-{{ viz.pk }}">
    <div class="img">
      {% if thumbnailPhotoURL %}
        <img class="thumbnail" src="{{ thumbnailPhotoURL }}" alt="">
      {% else %}
        <img class="thumbnail" src="{% static 'i/cubeGuy.png' %}" alt="">      
      {% endif %}
      <a href="#" class="author">{{ viz.creator }}</a>
    </div>
    <h2>{{ viz.name }}</h2>
    <p>{{ viz.tagline }}</p>
  </div>
</a> -->
</a>