
<!-- 
  Viz view, contains comments and details.
  And also Code editing options.

  - Currently duplicated from javascript.html (old code is in there)
-->

{% extends "viz/viz-base.html" %}
{% load staticfiles %}

{% block content %}
<script type="text/javascript">
	var compilerData;
	var JSONstring;
	var codeSnap;

	function flashCube(){
		if($("a.sent-to-cube").html() != "Send to Cube") return false;	//setting disabled=true won't work; so here's my take on the subject
		$("a.sent-to-cube").fadeOut("slow").html("Compiling<span class=\"one\">.</span><span class=\"two\">.</span><span class=\"three\">.</span>")
		.css({"color": "white", "background": "#12d396", "border-color": "#008376"}).fadeIn("fast");	//.animate({display: "block"});
		
                var vizLib = getEditVizType();
		var request=$.ajax({
			type:"POST",
			url:"{% url 'cloudFlash' %}", 
			data: {"code": $(".code").val(), "accessToken":accessToken, "deviceID":$("#cubeName").val(), "vizName": "{{ viz.name }}", "vizId":"{{ viz.pk }}", "viz-lib": vizLib },
			dataType:"text",
			success: function(data){ 
				console.log("success flashing");
				JSONstring=data;
				console.log(JSONstring);
				var result = $.parseJSON(data);
				var result = $.parseJSON(result);
				compilerData=result;
				console.log(compilerData);
				output="";
				if(result.ok){
					output+="compilation status:  ok\n";
					output+=result.message;
					var breatheAtInterval = setInterval(function() {
						$("a.sent-to-cube").fadeOut("slow").html("Flashing<span class=\"one\">.</span><span class=\"two\">.</span><span class=\"three\">.</span>")
						.css({"color": "white", "background": "#d20088", "border-color": "#b20068"}).animate({display: "block"}, "fast");
					}, 1200); 
					var sendButtonTimer = setTimeout(function() {
						clearInterval(breatheAtInterval);
						$("a.sent-to-cube").fadeOut("slow").html("Send to Cube").css({"color": "black", "background": "white", "border-color": "#cccccc"})
						.fadeIn("fast", function() { clearTimeout(sendButtonTimer); });	//.animate({display: "block"});
					}, 18000);
				}
				else{
					output+="compilation status: "+result.ok+"\nerrors:\n"+result.errors+"\n";
					$("a.sent-to-cube").fadeOut("slow").html("Error!").css({"color": "white", "background": "#ee0026", "border-color": "#de0016"})
					.animate({display: "block"}, "fast", function() {
						if(!$('div.viz-wrapper').hasClass('code-active')) $('.view-code').click();
						var sendButtonTimer = setTimeout(function() { 
							$("a.sent-to-cube").fadeOut("slow").html("Send to Cube").css({"color": "black", "background": "white", "border-color": "#cccccc"})
							.fadeIn("fast", function() { 
								$("textarea.output").animate({"color": "#ee0026", "background-color": "#fafad2"}, 600)
								.delay(1200).animate({"color": "black", "background-color": "white"}, 1200);
								clearTimeout(sendButtonTimer); 
							});	//.animate({display: "block"});
						}, 1200); });
				}
				$("textarea.output").val(output);
			},
			error: function(data){
				console.log("fail");
				console.log(data);
			}
		});
	}
	
	function confirmClose(){
		var confirmMessage = "Whoops, looks like you left unsaved changes in your code!\nIs it alright for me to discard them?\n\nClick either \"OK\" to exit without saving or \"Cancel\" to go back and save your work";
		if (confirm(confirmMessage) == true){
			parent.closeViz(); 
			parent.closeCreate();
		}
	}

	function getData() {
	    var name = $('.viz-name').val();
	    var description = $('.description').val();
	    var published = ($('.published .on').html() === 'Public');
	    var interactive = ($('.interactive .on').html() === 'Yes');
	    var videoURL = $( '.video-url' ).val();

	    /*var vizType = getEditVizType();
	    if( vizType === 'JS') {
	        vizType = 'javascript';
	    } else {
	        vizType = 'L3D'
	    }*/
            var vizLib = getEditVizType();

	    var code = $('.code').val();

	    return {
	        name: name,
	        description: description,
	        published: published,
	        interactive: interactive,
	        "viz-type": 'L3D',  //vizType,
                "viz-lib": vizLib,
	        videoURL: videoURL,
	        sourceCode: code
	    }
	}
	
	function checkDataAfterSave( data ) {
	    if ( data.success ) {
			//Reset snapshot of the code
			codeSnap = $('.code').val();
	        alert("Viz Updated!");
	    } else {
	        console.log( "Error!", data );
	    }
	}

	function checkData( data ) {
	    // console.log( data );
	    // var data = JSON.parse(data.responseText);
	    if ( data.success ) {
			//Reset snapshot of the code
			codeSnap = $('.code').val();
	        onCreateSuccess( data.id );
	    } else {
	        console.log( "Error!", data );
	    }
	}

	// Switch to "fork" mode
	function onCreateSuccess( id ) {
	    editing = true;
	    $( '.create-wrapper' ).attr('viz-id', id);
	    $('.save-code').html('Update Viz');
	    alert("Viz Created!");
	}

	$(document).ready(function() {
		//Take a snapshot of the code
		codeSnap = $('.code').val();
		
		$('.save-code').click(function() {
	        var saveData = getData();
	        var goodToGo = validate(saveData);
	        //var validProgram=checkProgramValidity(saveData);
	    	
	        if( goodToGo ) {
	            if( editing === false) {
	                // Ajax request to create!
	                $.ajax({
	                    type: 'post',
	                    dataType: 'json',
	                    url: '/upload/',
	                    data: saveData,
	                    success: function( data ) {
		        			checkData(data);
	                    },
	                    error: function( data ) {
	                        checkData(data);
	                    }
	                });
	            } else {
	                var vizId = $( '.create-wrapper' ).attr('viz-id');
	                saveData.vizId = vizId;
	                
	                // Ajax request to edit
	                $.ajax({
	                    type: 'post',
	                    dataType: 'json',
	                    url: '/save/',
	                    data: saveData,
	                    success: function( data ) {
	                        checkDataAfterSave(data);
	                    },
	                    error: function( data ) {
	                        checkDataAfterSave(data);
	                    }
	                })
	            }
	        }
		});
		
		//Enabling Esc key to close the viz
		$(document).keydown(function(e) {
			if (e.keyCode == 27) $('.close-button').click();	//Esc
		});
		//For the above to work straight out of loading, gotta focus on something
		if($('#cubeName').length) $('#cubeName').focus();
		else if($('.comments-input').length) $('.comments-input').focus();
		else window.focus();
	});

        function getDeviceID() {
            var ret = $("select#cubeName").val();
            if(typeof ret !== 'undefined' && ret !== null && ret !== '-1')
                return ret;
            else 
                return '';
        }
	
	function cubeNameOnChange() {
            var deviceID = getDeviceID();	// Reads currently 'selected' value from dropdown
            console.log('deviceID: ' + deviceID);
            console.log('#cubeName options: ' + $("select#cubeName option").length);
            console.log('#cubeName value: ' + $("select#cubeName").val());

            if(deviceID !== '') {
                coreID = deviceID;
                // Freshen the cookie with the currently selected device from the dropdown
                $.removeCookie("coreID", {path: '/'});
                var date = new Date();
                $.cookie("coreID", coreID, {expires: date.getTime() + 86400, path: '/'});
            }
            else {
                // We don't have a valid selected device so delete the cookie and hide the controls
                $.removeCookie("coreID", {path: '/'});
                coreID = null;
            }
	}	
</script>

{% load utils %}
{% logged_in_status as logged_in %}

{% if viz %}
{% endif %}
<div class="viz-wrapper create-wrapper" {% if viz %}viz-id="{{ viz.pk }}"{% endif %} >
  <div class="viz-nav">
  	<a class="close-button" onclick="if(codeSnap != $('.code').val()){confirmClose();} else{parent.closeViz(); parent.closeCreate();}">Close</a>
    <div class="nav-info"></div>
    <a class="round-button button-red save-code">Save</a>
    <div class="cube-options">
	{% if viz.vizType == "L3D" %}
        <a class="round-button button-grey sent-to-cube" onclick="flashCube()">Send to Cube</a>
	{% elif viz.vizType == "javascript" %}
        <a class="round-button button-grey sent-to-cube" onclick="stream()">Stream to Cube</a>
	{% else %}
	{% endif %}
      <div class="round-button button-grey select-cube">
	  <select id="cubeName" onchange="cubeNameOnChange();"></select>
      </div>
    </div>

  </div>
  <div class="viz-demo">
      <canvas class="demo-canvas"></canvas>
  </div>
  <div class="viz-details">
    <div class="inner-wrapper">
      <input class="viz-name" placeholder="Type an awesome name for your viz." value="{% if viz %}{{ viz.name.strip }}{% endif %}"></input>
      <textarea class="description" placeholder="Describe whats going on here! Including instructions if the viz requires an interactive component.">{% if viz %}{{ viz.description.strip }}{% endif %}</textarea>
      
      <div class="switch-option published">
        <div class="label">Published</div>
        <div class="switch-box">
          {% if viz %} 
            {% if viz.published %} 
              <div class="switch-part switch-left on">Public</div>
              <div class="switch-part switch-right off">Private</div>
            {% else %}
              <div class="switch-part switch-left off">Public</div>
              <div class="switch-part switch-right on">Private</div>
            {% endif %}  
          {% else %}
            <div class="switch-part switch-left off">Public</div>
            <div class="switch-part switch-right on">Private</div>
          {% endif %}
        </div>
      </div>

        {% if viz %} 
        <a href="#" title="This option has been permanently disabled" style="cursor: none !important;">
            <div class="switch-option interactive disabled" tabindex="-1">
                <div class="label" tabindex="-1">Interactive</div>
                <div class="switch-box interactive" tabindex="-1">
                    {% if viz.interactive %} 
                    <div class="switch-part switch-left off" tabindex="-1">No</div>
                    <div class="switch-part switch-right on" tabindex="-1">Yes</div>
                    {% else %}
                    <div class="switch-part switch-left on" tabindex="-1">No</div>
                    <div class="switch-part switch-right off" tabindex="-1">Yes</div>
                    {% endif %}  
                </div>
            </div>
      	</a>
        {% else %}
        <a href="#" title="This option has been permanently disabled" style="cursor: none !important;">
            <div class="switch-option interactive disabled" tabindex="-1">
                <div class="label" tabindex="-1">Interactive</div>
                <div class="switch-box interactive" tabindex="-1">
                    <div class="switch-part switch-left on" tabindex="-1">No</div>
                    <div class="switch-part switch-right off" tabindex="-1">Yes</div>
                </div>
            </div>
      	</a>
        {% endif %}
   	{% if viz %} 
       	{% if viz.videoURL %}
	   		<input class="video-url" placeholder="Please add a youtube link here" value="{{ viz.videoURL }}"/>
       	{% else %}
       		<input class="video-url" placeholder="Please add a youtube link here" value=""/>
       		<!-- <input class="video-url hidden" placeholder="Please add a youtube link here"/> -->
       	{% endif %}
   	{% else %}
   		<input class="video-url" placeholder="Please add a youtube link here" value=""/>
       	<!-- <input class="video-url hidden" placeholder="Interactive! Please add a youtube link here"/> -->
   	{% endif %}
    </div>
  </div>

  <div class="viz-code">
    <div class="viz-code-header">
 	{% if viz %}
   		<!-- <a id="btnDeleteViz" class="round-button button-transparent" onclick="deleteViz();">Delete this Viz</a> -->
   	{% endif %}
    <a href="javascript:void(0);" style="cursor: none !important; pointer-events: none !important; background: rgba(255, 255, 255, 0.2) !important; color: rgba(255, 255, 255, 0.2) !important;" class="round-button button-red run-sketch">Update Demo</a>
    {% if viz %}
        <div class="switch-box viz-type" title="You can select which library to use with your code!">
        {% if viz.vizLib == "NEOPIXEL" %}
            <div class="switch-part switch-left off">FASTLED</div>
            <div class="switch-part switch-right on">NEOPIXEL</div>
        {% else %}
            <div class="switch-part switch-left on">FASTLED</div>
            <div class="switch-part switch-right off">NEOPIXEL</div>
        {% endif %}  
        </div>
    {% else %}
        <div class="switch-box viz-type" title="You can select which library to use with your code!">
            <div class="switch-part switch-left on">NEOPIXEL</div>
            <div class="switch-part switch-right off">FASTLED</div>
        </div>
    {% endif %}
    </div>
    <div class="code-area">
      <textarea rows="80" cols="120" id="code" class="code inout">{% if viz %}{{ source.code }}{% endif %}</textarea>
    </div>
    <textarea cols="120" rows="10" class="console output" readonly placeholder="Console output..."></textarea>
  </div>
</div>

<!-- App -->
<script type="text/javascript" src="{% static 'js/create.js' %}"></script>

{% endblock %}