
<!-- 
  Viz view, contains comments and details.
  And also Code editing options.

  - Currently duplicated from javascript.html (old code is in there)
-->

{% extends "viz/viz-base.html" %}
{% load staticfiles %}

{% block content %}

{% load utils %}
{% logged_in_status as logged_in %}

<div class="viz-wrapper create-wrapper">

  <div class="viz-nav">
    <div class="nav-info"></div>
    <a class="round-button button-red save-code">Save Viz</a>
  </div>
  <div class="viz-demo">
      <canvas class="demo-canvas"></canvas>
  </div>
  <div class="viz-details">
    <div class="inner-wrapper">
      <input class="viz-name" placeholder="Type an awesome name for your viz."></input>
      <textarea class="description" placeholder="Describe whats going on here! Including instructions if the viz requires an interactive component."></textarea>
      
      <div class="switch-option published">
        <div class="label">Published</div>
        <div class="switch-part switch-left on">Public</div>
        <div class="switch-part switch-right">Private</div>
      </div>

      <div class="switch-option interactive">
        <div class="label">Interactive</div>
        <div class="switch-part switch-left on">No</div>
        <div class="switch-part switch-right">Yes</div>
      </div>
    </div>
  </div>

  <div class="viz-code">
    <div class="viz-code-header">
      <a class="round-button button-red run-sketch">Run Sketch</a>
    </div>
    <div class="code-area">
      <textarea rows="80" cols="120" id="code" class="code inout"></textarea>
    </div>
    <textarea cols="120" rows="10" class="console output" readonly placeholder="Console output..."></textarea>
  </div>
</div>

<!-- App -->
<script type="text/javascript" src="{% static 'js/create.js' %}"></script>

{% endblock %}
