<!-- 
  Viz view, contains comments and details.
  And also Code editing options.

  - Currently duplicated from javascript.html (old code is in there)
-->

{% extends "cubetube/base.html" %}
{% load staticfiles %}

{% block headx %}
	<!-- to keep this view from reloading from the cache (especially nasty after deletions) -->
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block header %}
	{% include "cubetube/partials/_header.html" %}
{% endblock %}

{% block content %}
	<script type="text/javascript">
		//var accessToken=$.cookie("accessToken");
		//var coreID = $.cookie("coreID");
		var isUserAlerted = false;
		var currentMode = '';
		var populateModesTimer = null;
		var selectFromDropdownTimer = null;
		var syncInterval = null;
		var idxArr = 0;
		
		/*if(typeof accessToken !== 'undefined' && accessToken !== null) {
			$('select#cubeName').show();
			//listCubes();
			//cubeNamesUpdateInterval = setInterval('listCubes()', 5000);  //update the list of cubes every 5 seconds
		}
		else {
		    console.log("no cube options");
		    $('select#cubeName').hide();
		    if(typeof cubeNamesUpdateInterval !== 'undefined' && cubeNamesUpdateInterval !== null)
		    	clearInterval(cubeNamesUpdateInterval);
		}*/
		
		$(function() {
		    $("div.round-button").css('padding-left', 'calc(100% / 2.2)');
			$("select#colors").prop('disabled', 'disabled');
			
			$("div.tagline").show();
			$('.logo-box').on('mouseleave', function() {
				clearTimeout(taglineTimer);
				return false;
			});
			
			if(typeof accessToken !== 'undefined' && accessToken !== null)
				if(currentMode == '') populateInterval();
			else
			    if(typeof populateModesTimer !== 'undefined' && populateModesTimer !== null)
					clearInterval(populateModesTimer);
					
			
			var $canvas = document.getElementById('cube_canvas');
			var $colors = document.getElementById('colors_canvas');
			initGame($canvas, $colors);
			//clearInterval(syncInterval);
		    //syncVoxels();
		});
	
		function populateInterval() {
			currentMode = '';
			populateModesTimer = setInterval(function() {
				if(currentMode == '') {
					populateModes();
				}
				else {
					clearInterval(populateModesTimer);
					selectFromDropdownTimer = setInterval(function() {
					    if($("select#modes").val() !== currentMode)
							$("select#modes").val(currentMode);
					    else {
	                		$("div#cubeAndModeText").show();
							$("div#updateListDiv").show();
							$("div#brightnessControl").show();
							clearInterval(selectFromDropdownTimer);
					    }
					}, 100);
				}
			}, 1000);
		}
		
		function populateModes() {
			var deviceID = (typeof coreID !== 'undefined' && coreID !== null) ? coreID : getDeviceID();
			if(typeof deviceID !== 'undefined' && deviceID !== null) {
				$("select#modes").fadeOut(100);
				$.get("https://api.particle.io/v1/devices/" + deviceID + "/mode/?access_token=" + accessToken, function(data) {
					currentMode = data.result.trim();
					$("span#mode").html(currentMode);
					$("select#cubeName option").each(function() {
					    if($(this).val() === getDeviceID())
							$("span#device").html($(this).html());
					});				
					$("select#modes").fadeIn(300);
					$("div#cubeAndModeText").fadeIn(300);
					$("div#updateListDiv").fadeIn(300);
					$("div#brightnessControl").fadeIn(300);
					isUserAlerted = true;
				}, "json")
				.fail(function() {
					var message = '';
					if(typeof deviceID !== 'undefined' && deviceID !== null && deviceID !== '-1') {
						var device = $("select#cubeName option[value = '" + deviceID + "']").text();
						if(typeof device !== 'undefined' && device !== null && device !== '') {
							message += 'The selected Cube (\"' + device.substr(device.indexOf(')') + 2) 
									+ '\") does not appear to be running the Spark Pixels viz.';
							message += '\nPlease head to Cubetube, select this viz from the gallery and load it into your Cube.';
							message += '\nIf your Cube is already running Spark Pixels, try resetting it. Make sure it connects (breathing cyan).';
							if(!isUserAlerted) {
							    alert(message);
							    isUserAlerted = true;
							}
						}
						return;
					}
				});
				$.get("https://api.particle.io/v1/devices/"+deviceID+"/modeList/?access_token=" + accessToken, function(data) {
					var modes=data.result.split(";");
				    $("select#modes").empty();  //clear all the existing modes before appending new ones
					for(var index=0; index<modes.length-1; index++) {
						var mode=modes[index].trim();
						$("select#modes").append("<option value=\"" + mode + "\">" + mode + "</option>");
					}
				}, "json");
			}
		}
		
		function cubeNameOnChange() {
		    deviceID = getDeviceID();	// Reads currently 'selected' value from dropdown
		    console.log('deviceID: ' + deviceID);

			$.removeCookie("coreID", { path: '/' });
           	coreID = deviceID;
           	var date = new Date();
           	$.cookie("coreID", coreID, { expires: date.getTime()+86400 , path: '/'});
		    
			$("select#cubeName option").each(function() {
			    if($(this).val() === deviceID)
					$("span#device").html($(this).html());
			});

       		if(coreID !== '-1') {
				$("div#updateListDiv").fadeIn(300);
				$("div#brightnessControl").fadeIn(300);
	   		}
	   		else {
				$("span#mode").text('');
				$("div#updateListDiv").fadeOut(100)
				$("div#brightnessControl").fadeOut(100)
	   		}
       		setBrightness();
		    clearInterval(populateModesTimer); 
		    populateInterval();
		}
		
		function getDeviceID() {
		    return $("#cubeName").val();
		}
		
		function setMode() {
		    if(typeof accessToken !== 'undefined' && accessToken !== null) {
			    var deviceID = getDeviceID(); 
				currentMode = $('#modes').find("option:selected").val();
				var brightness = $("#brightnessSlider").val();
				var commandString = 'M:' + currentMode + ',S:5,B:' + brightness + ',';
				$("span#mode").html(currentMode);
				$.post("https://api.particle.io/v1/devices/" + deviceID + "/SetMode", { access_token: accessToken, args: commandString });
		    }
		}
		
		function setBrightness() {
			var brightness = $("#brightnessSlider").val();
			$("span#brightness").html(brightness);
		    if(typeof accessToken !== 'undefined' && accessToken !== null) {
			    var deviceID = getDeviceID(); 
				var commandString = 'B:' + (brightness > 0 ? brightness : 1) + ',';
				$.post("https://api.particle.io/v1/devices/" + deviceID + "/SetMode", { access_token: accessToken, args: commandString });
		    }
		}

		function setVoxel(index, color) {
		    if(typeof accessToken !== 'undefined' && accessToken !== null
			    && $("span#mode").html().trim().toUpperCase() === 'CUBE PAINTER') {
				var deviceID = getDeviceID();
				var commandString = 'I' + index + ',' + color + ',';
				$.post("https://api.particle.io/v1/devices/" + deviceID + "/CubePainter", { access_token: accessToken, args: commandString });
		    }
		}
		
		function clearVoxels(startIdx, endIdx) {
		    if(typeof accessToken !== 'undefined' && accessToken !== null 
			    && $("span#mode").html().trim().toUpperCase() === 'CUBE PAINTER') {
				var deviceID = getDeviceID();
				var commandString = 'C' + startIdx + ':' + endIdx + ',';
				$.post("https://api.particle.io/v1/devices/" + deviceID + "/CubePainter", { access_token: accessToken, args: commandString });
				clearPieces(startIdx, endIdx);
		    }
		}

		function syncVoxels() {
		    if(typeof accessToken !== 'undefined' && accessToken !== null 
			    && $("span#mode").html().trim().toUpperCase() === 'CUBE PAINTER') {
				var deviceID = getDeviceID();
				var commandString = 'C0:' + gNumPieces + ',';
				$.post("https://api.particle.io/v1/devices/" + deviceID + "/CubePainter", { access_token: accessToken, args: commandString });
				
				var gDrawing = new Array();
				for(var idxArrDr = 0; idxArrDr < gNumPieces; idxArrDr++)
				    if(gPieces[idxArrDr].isFilled)
						gDrawing.push(new Cell(gPieces[idxArrDr].row, gPieces[idxArrDr].column, gPieces[idxArrDr].zIndex, gPieces[idxArrDr].fillColor, true));
				
				idxArr = 0;
				syncInterval = setInterval(function() {
					    if(idxArr < gDrawing.length) {
							var voxelIndex = ((gDrawing[idxArr].zIndex*kNumPieces) + (gDrawing[idxArr].column*(kNumPieces/kBoardWidth)) + (kBoardHeight - gDrawing[idxArr].row)) - 1;
							//console.log('Setting voxel #' + voxelIndex);
							setVoxel(voxelIndex, gDrawing[idxArr].fillColor);
						    idxArr++;
					    }
					else
						clearInterval(syncInterval);
				}, 60);
			}
		}
	</script>
{% load utils %}
{% logged_in_status as logged_in %}
<div id="gallery-wrapper" class="viz-cards" style="padding-top: 0px !important;">
	<div class="gradient" style="margin-top: 60px; padding: 0px 25% 12px; text-align: center; border-radius: 0px 0px 30px 30px">
		<div id="cubeAndModeText">
			<div>Selected Cube:  <span id="device">Please Log In</span></div>
			<div>Selected Mode:  <span id="mode"></span></div>
		</div>
	{% if logged_in %}
		<div style="clear: both; height: 10px; background: rgba(28, 21, 33, 0)"></div>
		<div id="updateListDiv">
			<a id="updateListButton" href="#" onclick="cubeNameOnChange();" title="Click here to refresh the modes list!">Update List</a>
	 		<select id="modes" onchange="setMode();"></select>
	 	</div>
 		<div style="clear: both; height: 10px; background: rgba(28, 21, 33, 0)"></div>
		<div id="brightnessControl">
			<div>Brightness:  <span style="margin-right: 10px" id="brightness"></span>
				<input id="brightnessSlider" type="range" min="0" max="100" step="1" value="20" onchange="setBrightness();" />
			</div>
		</div>
	{% endif %}
	</div>
	<!-- <div style="clear: both; height: 7px; background: #1C1521"></div> -->
	<div id="canvas">
		<div class="spacer"></div>
		<div id="layerButtons" style="text-align: center; padding-bottom: 10px">
			<a id="layerButtons" href="#" onclick="decreaseLayer();" title="Click to move back one layer (towards back of Cube)">[+] One Layer</a>
			<span id="currentLayer"></span>
			<a id="layerButtons" href="#" onclick="increaseLayer();" title="Click to move forth one layer (towards front of Cube)">[-] One Layer</a>
		</div>
		<div class="mobile-splitter"></div>
		<div id="syncButton">
			<a id="syncButton" href="#" onclick="syncVoxels();" title="Click to resync your drawing to the Cube!">Resync Cube!</a>
		</div>
		<canvas height="401" width="401" id="cube_canvas">
		    Your browser does not support the HTML5 canvas element.
		</canvas>
		<canvas style="padding-left: 15px" height="255" width="155" id="colors_canvas">
		    Your browser does not support the HTML5 canvas element.
		</canvas>
		<div class="spacer"></div>
		<div id="clearButtons" style="text-align: center; padding-top: 10px">
			<a id="clearButtons" href="#" onclick="clearVoxels(gLayer*kNumPieces, (gLayer*kNumPieces)+kNumPieces);" title="Click to clear the current layer">Clear Layer</a>
			<span id="currentLayer"></span>
			<a id="clearButtons" href="#" onclick="clearVoxels(0, 512);" title="Click to clear the whole Cube">Clear All</a>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
	<script src="{% static 'js/cubePainterManager.js' %}"></script>
    {% include "cubetube/partials/_footer.html" %}
{% endblock %}
