{% load staticfiles %}
{% load card %}
<div id="viz-in-gallery">
	{% for viz in visualizations %}
	    {% jscard viz %}
	{% endfor %}
	{% if nextPage %}
		<div id="scroll" style="height: 150px; width: 570px; margin: 0 auto;">
			<div class="scroll button blue scroll-button-left" data-which="more" href="{% url 'scroll' nextPage filter %}">Load More!</div>
			<div class="scroll button blue scroll-button-left" data-which="all" href="{% url 'scroll' '1' 'all' %}">Load All!</div>
		</div>
	<!--     <a class="scroll button blue" href="{% url 'scroll' nextPage filter %}">Load More!</a> -->
	{% endif %}
</div>