{% load staticfiles %}
<div class="viz-card" id="{{ viz.pk }}">
  <a class="viz-card-anchor" href="{% url 'viz' viz.pk %}">
  <div class="viz-demo">
      {% if viz.videoURL %}
        <div class="interactive-bg"></div>
        <div class="play-icon"></div>
      {% else %}
        <canvas class="js-preview" id="{{ viz.pk }}" type="{{ viz.vizType }}" interactive="{{ viz.interactive }}"></canvas>   
        <div class="code" style="display: none;" id="viz{{ viz.pk }}">{{ source.code }}</div>
      {% endif %}
  </div>
  </a>
  <div class="viz-info">
    <div class="left">
    	<a class="viz-card-anchor" style="text-decoration:none" href="{% url 'viz' viz.pk %}">
			<span class="name">{{ viz.name }}</span>
		</a>
		<a style="text-decoration: none" title="Click to group all visualizations by {{ viz.creator }}!" href="{% url 'gallery' filter='byCreator' vizCreator=viz.creator %}">
			<span class="author">by {{ viz.creator }}</span>
		</a>
    </div>
    <div class="right">
      {% if viz.vizType == 'javascript' %}
        {% include "cubetube/partials/_interactive_svg.html" %}
      {% else %}
        {% include "cubetube/partials/_cube_svg.html" %}
      {% endif %}
    </div>
  </div>
</div>  
