{% load staticfiles %}
<div class="viz-card" id="{{ viz.pk }}" data-created="{{ viz.created|date:'Y/m/d' }}">
  <a class="viz-card-anchor" href="{% url 'viz' viz.pk %}">
  <div class="viz-demo">
      {% if viz.videoURL %}
        <div class="interactive-bg"></div>
        <div class="interactive-bg-video" data-url={{ viz.videoURL }} data-vizId={{ viz.pk }}>
        	<div class="player" id="player-{{ viz.pk }}"></div>
        </div>
        <div class="play-icon"></div>
      {% endif %}
  </div>
  </a>
  <div class="viz-info">
    <div class="left">
    	<a class="viz-card-anchor" style="text-decoration:none" href="{% url 'viz' viz.pk %}">
			<span class="name">{{ viz.name }}</span>
		</a>
		<a style="text-decoration: none" title="Click to group all visualizations by {{ viz.creator }}!" href="{% url 'gallery' filter='byCreator' filterTerm=viz.creator %}">
			<span class="author">by {{ viz.creator }}</span>
		</a>
    </div>
    <div class="right">
      {% if viz.vizType == 'javascript' %}
        {% include "cubetube/partials/_interactive_svg.html" %}
      {% else %}
        {% include "cubetube/partials/_cube_svg.html" %}
      {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
    // Here we calculate the date difference between current date and create date, 
    // and then we update the viz card with a "NEW" ribbon if it's less than 45 days old
    $('.viz-card').each(function() {
        var created = new Date($(this).attr("data-created"));
        var today = new Date();
        var timeDiff = Math.abs(today.getTime() - created.getTime());
        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
        $(this).find("div.right").attr("title", "Create date: " + created.toLocaleDateString("en-US"));
        if(diffDays < 45) {
            $(this).find("div.viz-demo").addClass("new-tag");
            $(this).find("div.interactive-bg").css("cssText", $(this).find("div.interactive-bg").css("cssText") + "opacity: 0.2 !important;");
        }
    });
</script>