<!-- 
  Viz view, contains comments and details.
  And also Code editing options.

  - Currently duplicated from javascript.html (old code is in there)
-->

{% extends "cubetube/base.html" %}
{% load staticfiles %}

{% block headx %}
	<!-- to keep this view from reloading from the cache (especially nasty after deletions) -->
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
{% endblock %}

{% block header %}
	{% include "cubetube/partials/_header.html" %}
{% endblock %}

{% block content %}
<script type="text/javascript">
	var accessToken=$.cookie("accessToken");
	var deviceID;
	var currentMode = '';
	var populateModesTimer = null;
	
	$(function(){
		$("#cubeName").css({'margin-top':'58px', 'float':'left'});
		$("div.viz-cards").css({'padding-top':'35px', 'padding-bottom':'30px'});
		$("div.round-button").css('padding-left', 'calc(100% / 2.2)');

		if(currentMode == '') populateInterval();
	});
	
	function populateInterval() {
		currentMode = '';
		populateModesTimer = setInterval(function() {
			if(currentMode == '') {
				populateModes();
			}
			else {
				clearInterval(populateModesTimer);
			}
		}, 1000);
	}
	
	function populateModes(){
		$("#modes").empty();  //clear all the existing modes before appending new ones
		deviceID=getDeviceID();
		$.get("https://api.particle.io/v1/devices/"+deviceID+"/mode/?access_token=" + accessToken, function(data){
			console.log('currentMode: [' + data.result + ']');
			currentMode = data.result.trim();
		});
		$.get("https://api.particle.io/v1/devices/"+deviceID+"/modeList/?access_token=" + accessToken, function(data){
			console.log(data.result);
			var modes=data.result.split(";");
			for(var index=0; index<modes.length-1; index++){
				var mode=modes[index].trim();
				//console.log('mode: [' + mode + ']');
				var selected = (currentMode==mode ? ' selected=\"selected\"' : '');
				$("#modes").append("<option value=\"" + mode + "\"" + selected + ">" + mode + "</option>");
				$("span#mode").html(currentMode);
				//$("#modes").append("<button onclick=\"setMode('"+mode+"')\">"+mode+"</button><br/>");
			}
		});
	}
	
	$( "#cubeName" ).change(function() {
		alert( "Handler for .change() called." );
	});
	
	function getDeviceID(){
		return $("#cubeName").val();
	}
	
	function setMode(){
		currentMode = $('#modes').find(":selected").text();
		var mode = 'M:' + currentMode + ',S:5,B:20,';
		$("span#mode").html(currentMode);
		$.post("https://api.particle.io/v1/devices/" + deviceID + "/SetMode", { access_token: accessToken, args: mode });
	}
</script>
	<div class="viz-cards">
		<div class="cube-options">
			<div class="round-button button-grey select-cube">
				<select id="cubeName"></select>
			</div>
		</div>
		<div style="clear: both; height: 25px;"></div>
		<div>Current Mode:  <span id="mode"></span></div>
		<div id="possibleModes"></div>
		<button onclick="clearInterval(populateModesTimer); populateInterval();">Get modes list!</button>
		<select id="modes" onchange="setMode();"></select>
	</div>
{% endblock %}

{% block footer %}
    {% include "cubetube/partials/_footer.html" %}
{% endblock %}
