<!-- 
  Viz view, contains comments and details.
  And also Code editing options.

  - Currently duplicated from javascript.html (old code is in there)
-->

{% extends "viz/viz-base.html" %}
{% load staticfiles %}

{% block content %}
<script type="text/javascript">
	var compilerData;
	var JSONstring;
	function flashCube(){
		var request=$.ajax({
			type:"POST",
			url:"{% url 'cloudFlash' %}", 
			data: {"code": $(".code").val(), "accessToken":accessToken, "deviceID":$("#cubeName").val(), "vizName": "{{ viz.name }}", "vizId":"{{ viz.pk }}" },
			dataType:"text",
			success: function(data){ 
				console.log("success flashing");
				console.log(data);
				JSONstring=data;
				var result = $.parseJSON(data);
				var result = $.parseJSON(result);
				compilerData=result;
				console.log(result);
				output="";
				if(result.ok){
					output+="compilation status:  ok\n";
					output+=result.message;
				}
				else{
					output+="compilation status: "+result.ok+"\nerrors:\n"+result.errors+"\n";
				}
				$("textarea.output").val(output);
			},
			error: function(data){
					console.log("fail");
					console.log(data);
			}
		});
	}
	
	//Parses the supplied string to a html-renderable string 
	//Requires: supplied string previously having any newline chars replaced or removed
	//@str: string to parse
	//@maxChars: end-of-line index for inserting line breaks
	function parseLongString(str, maxChars){
		var splitStr = str.split('<br />');
		var wrapStr = '';
		//We've removed the html line breaks inserted by python because now we're going
		//to manually place them after every nth character of the supplied string.
		for(var i = 0; i < splitStr.length; i++) {	//array length;
			for(var j = 0; j < splitStr[i].length; j++) {	//string length at array index [i];
				if(j % maxChars == 0) {	//try to replace the last space with a line break
					for(var k = j; k > (j-maxChars); k--) {	//at every nth char
						if(splitStr[i].charAt(k) == ' ') {
							splitStr[i] = splitStr[i].substr(0, k) + '<br />' + splitStr[i].substr(k);
							break;
						}
					}
				}
			}
			wrapStr += splitStr[i] + '<br />';
		}
		return wrapStr;
	}
	
	//Functions for dynamically expanding and collapsing the viz's description 
	function expandDesc(){
		if($('.viz-description').css('height') != '130px'){
			//Python has a weird way of breaking long strings with newline chars rendering
			//them 'un-parseable' to the js engine, so we need to make sure these chars
			//are properly detected and replaced beforehand, at the python interpreter;
			//Then we call the function to parse the string with the newline chars replaced by line breaks.
			var parsed = parseLongString('{{ viz.description|linebreaksbr }}', 80);
			
			$('.inner-wrapper').delay('fast').animate({ height: '260px' }, 'fast', 'linear', function() {
			    // Animation complete.
				$('#viz-description').hide('fast');
				$('.viz-description').animate({ height: '130px' }, 'fast', 'linear', function() {
				    // Animation complete.
					$('#viz-description').html(parsed.substring(0, parsed.lastIndexOf('<br />')));
					$('#viz-description').show('slow');
				});
			});
		}
	}
	function collapseDesc(){
		if($('.inner-wrapper').css('height') != '130px'){
			//Python has a weird way of breaking long strings with newline chars rendering
			//them 'un-parseable' to the js engine, so we need to make sure these chars
			//are properly detected and replaced beforehand, at the python interpreter;
			//After this, we replace these chars by an empty space with the js engine. 
			var newDescr = "{{ viz.description|linebreaksbr }}".replace("<br />", " ").substring(0, 75) + " ...";
			
			$('.viz-description').stop().delay('slow').animate({ height: '20px' }, 'fast', 'linear', function() {
			    // Animation complete.
		    	$('#viz-description').hide('fast');
				$('.inner-wrapper').animate({ height: '130px' }, 'fast', 'linear', function() {
				    // Animation complete.
					$('#viz-description').html(newDescr);
					$('#viz-description').show('slow');
				});
			});
		}
	}
	
	//Enabling Esc key to close the viz
	$(document).ready(function() {
		$(document).keydown(function(e) {
			if (e.keyCode == 27) $('.close-button').click();	//Esc
		});
		//For the above to work straight out of loading, gotta focus on something
		$('.comments-input').focus();	//this one works fine
	});
</script>

{% load utils %}
{% logged_in_status as logged_in %}

{% if source %}
  <div class="viz-wrapper" data-viz-type="{{ viz.vizType }}" data-viz-id="{{ viz.pk }}" data-viz-author="{{ viz.creator.nickname }}" data-viz-url="{% url 'code' source.pk %}">
{% else %}
  <div class="viz-wrapper" data-viz-type="{{ viz.vizType }}" data-viz-id="{{ viz.pk }}" data-viz-author="{{ viz.creator.nickname }}">
{% endif %}

  <div class="viz-nav">
    <a class="close-button" onclick="parent.closeViz(); parent.closeCreate();">Close</a>
    {% if source %}
      <a class="round-button button-red view-code">View Code</a>
    {% endif %}

    {% if logged_in %}
      <div class="cube-options">
	{% if viz.vizType == "L3D" %}
        <a class="round-button button-grey sent-to-cube" onclick="flashCube()">Send to Cube</a>
	{% elif viz.vizType == "javascript" %}
        <a class="round-button button-grey sent-to-cube" onclick="stream()">Stream to Cube</a>
	{% else %}
	{% endif %}
        <div class="round-button button-grey select-cube">
          <select id="cubeName"></select>
        </div>
      </div>
      <div class="nav-info"></div>
    {% else %}
      <div class="nav-info">Sign in to send to cube!</div>
    {% endif %}
  </div>
  <div class="viz-demo">
    {% if source %}

      {% if viz.interactive %}
        <div class="youtube-video" data-url={{ viz.videoURL }}></div>
      {% else %}
        <canvas class="demo-canvas"></canvas>
      {% endif %}
    {% else %}

      {% if photo %}
        <div class="background-image no-photo"></div>
        <!-- <div class="background-image" style="background-image: url('{{photo.file.url}}')"></div> -->
      {% else %}
      {% endif %}

    {% endif %}
  </div>
  <div class="viz-details">
    <div class="inner-wrapper">
      
      <div class="viz-created">
        <div class="title">
          {{ viz.name }}
        </div>
        <div class="created">
          Created by {{ viz.creator.nickname }} on {{ viz.created|date:"F d, Y" }}
        </div>
      </div>

      <div class="viz-share">
        <div class="twitter">Twitter</div>
        <div class="facebook">Facebook</div>
      </div>

	{% if viz.description|length <= 80 %} 
		<div class="viz-description" style="width: 585px;">
			<span id="viz-description">{{ viz.description }}</span>
		</div>
	{% else %}
      	<div class="viz-description" onmouseenter="expandDesc();" onmouseleave="collapseDesc();" style="width: 585px; overflow: auto;">
			<span id="viz-description">{{ viz.description|truncatechars:79 }}</span>
		</div>
	{% endif %}
    </div>

    <div class="viz-comments clearfix" style="height: 160px; overflow: auto;">
      <div class="inner-wrapper">
        <div class="comments-title">
          Comments:
        </div>
        {% if logged_in %}
          <textarea class="comments-input" rows="3" placeholder="Please, share your thoughts!"></textarea>
          <a class="round-button button-grey submit-comment">Post Comment</a>
        {% endif %}
        <div class="comments-go-here">
          {% for comment in comments %}
            <div class="viz-comment">
              <span class="author">{{ comment.commenter.nickname }}</span> <span class="said">said</span>
              <p>{{ comment.comment }}</p>
            </div>
          {% empty %}
            {% if not logged_in %}
              <div class="no-comments">Sign up, to be the first!</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% if nextViz %}
    <a class="viz-next" href="/viz/{{ nextViz.pk }}">
      <div class="next-text">Up next</div>
      <div class="next-viz-name">{{ nextViz.name }}</div>
    </a>
  {% endif %}

  {% if source %}
  <div class="viz-code">
    <div class="viz-code-header">

      <a class="round-button button-red run-sketch">Update Demo</a>
      {% if logged_in %}

        {% if viz.creator.nickname == request.COOKIES.nickname %}
          <a class="round-button button-transparent edit-sketch" href="{% url 'edit' viz.pk %}">Edit Sketch</a>
        {% else %}
          <a class="round-button button-transparent fork-sketch" href="{% url 'fork' viz.pk %}">Fork Sketch</a>
        {% endif %}

      {% else %}
        <div class="nav-info white">Sign up, make your own!</div>
      {% endif %}
    </div>
    <div class="code-area">
      <textarea rows="80" cols="120" id="code" class="code inout">{{ source.code }}</textarea>
   </div>
    <textarea cols="120" rows="10" class="console output" readonly placeholder="Console output..."></textarea>
  </div>
  {% endif %}
</div>

{% endblock %}
