body{
}

div.viz-thumbnail{
    border: solid;
    padding: 10px;
    margin: 10px;
    width: 25%;
    float: left;
    height: 300px;
}

img.viz-thumbnail-image{
    width:100%;
}

.viz-thumbnail-name{
    font-weight: bold;
}

.viz-thumbnail-author{
    float: right;
}