/**
 * Cubetube main styles
 * -- Its hip to be cube!
 */

/**
 * Vars & mixins
 */

$purple: #1c1521;
$blue: #2bc6fb;
$red: #da003e;

@mixin transform ($values) {
    -webkit-transform: $values;
    -moz-transform: $values;
    -ms-transform: $values;
    transform: $values;
}

@mixin transition ($values) {
    -webkit-transition: $values;
    -moz-transition: $values;
    -ms-transition: $values;
    transition: $values;
}

/**
 * Resets
 */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    margin: 0px;
    padding: 0px;
    background: #fff;
}

body {
    font-family: "proxima-nova", sans-serif;
}

header {
    height: 80px;
    background: #fff;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #212121;
    font-weight: 800;
    font-size: 35px;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    color: #9199aa;
    margin-bottom: 30px;
}

.blue {
    color: $blue;
}

.section {
    width: 1280px;
    margin: auto;
}

 /**
  * App
  */

.explore-title {
    margin-bottom: 70px;
    padding-top: 100px;
}

.create-callout {

    .shadowed-line {
        margin-bottom: 110px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.05);
    }

    padding-top: 70px;
    padding-bottom: 120px;

    img {
        margin: auto;
        margin-bottom: 40px;
        margin-top: 60px;
        display: block;
    }
}

.button {
    display: block;
    background: $blue;
    color: #fff;
    cursor: pointer;
    margin: auto;
    max-width: 260px;
    padding: 12px;
    font-size: 14px;
    border-radius: 3px;
    letter-spacing: 0.4px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;

    &:active {
        background: darken($blue, 10%);
    }
}

@import 'svgs';
@import 'header';
@import 'viz-card';
@import 'footer';