/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.clr {
  clear: both; }

.hidden {
  display: none !important; }

.input {
  height: 55px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid rgba(42, 44, 52, 0.6);
  margin-bottom: 20px;
  position: relative; }
  .input span {
    font-weight: 400;
    font-size: 16px;
    color: #2a2d34;
    line-height: 19px;
    padding: 18px 0 18px 18px;
    display: block;
    position: absolute;
    left: 0;
    top: 0; }
  .input input {
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #2a2d34;
    line-height: 19px;
    padding: 18px 18px 18px 120px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; }

.textarea {
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid rgba(42, 44, 52, 0.6);
  margin-bottom: 20px;
  position: relative; }
  .textarea span {
    font-weight: 400;
    font-size: 16px;
    color: #2a2d34;
    line-height: 19px;
    padding: 18px 0 18px 18px;
    display: block;
    position: absolute;
    left: 0;
    top: 0; }
  .textarea textarea {
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #2a2d34;
    line-height: 19px;
    padding: 18px;
    width: 100%;
    text-indent: 102px;
    box-sizing: border-box;
    border-radius: 5px; }

.button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2a2d34;
  background: #00e896;
  margin: 18px 0;
  text-align: center;
  padding: 18px 0;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s; }
  .button:hover {
    letter-spacing: 0.1em; }

.wrapper {
  width: 1216px;
  margin: 0 auto;
  height: 100%;
  position: relative; }

header {
  background: red;
  position: relative;
  height: 0px;
  box-sizing: border-box;
  border-top: solid 4px #00e896;
  background: url(../i/header-bg.png) no-repeat center 0px fixed;
  background-size: cover;
  z-index: 1; }
  header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -o-linear-gradient(-89deg, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.5) 81%);
    background-image: -moz-linear-gradient(-89deg, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.5) 81%);
    background-image: -ms-linear-gradient(-89deg, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.5) 81%);
    background-image: linear-gradient(-179deg, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.5) 81%); }
  header a.logo img {
    float: left; }
  header a.logo span {
    float: left;
    font-weight: 500;
    font-size: 48px;
    color: white;
    line-height: 110px;
    padding-left: 20px; }
  header div.loginBtn {
    position: absolute;
    right: 0px;
    top: 20px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 12px 16px 8px 16px;
    color: #ffffff;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer; }
    header div.loginBtn a {
      color: #ffffff; }
    header div.loginBtn:hover {
      color: #2a2d34;
      background: #00E896; }
      header div.loginBtn:hover a {
        color: #2a2d34; }
  header div.menu {
    position: absolute;
    width: 100%;
    height: 72px;
    bottom: 0px;
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2); }
    header div.menu::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../i/header-bg.png) no-repeat center 0px fixed;
      background-size: cover;
      -webkit-filter: blur(6px);
      filter: blur(6px);
      z-index: -1; }
    header div.menu::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(42, 45, 52, 0.2);
      z-index: -1; }
    header div.menu ul {
      z-index: 1; }
      header div.menu ul li {
        cursor: pointer;
        float: right;
        padding: 24px 50px 16px 50px;
        box-sizing: border-box; }
        header div.menu ul li:hover, header div.menu ul li.active {
          border-bottom: solid 4px #00e896; }
        header div.menu ul li a {
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;
          line-height: 28px; }

main .documentation {
  width: 1280px;
  margin: 60px auto; }
  main .documentation .table-of-contents {
    border: solid 1px #999999;
    padding: 15px 20px;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #2a2d34;
    width: 330px;
    box-sizing: border-box; }
    main .documentation .table-of-contents .section-header {
      font-weight: 500; }
    main .documentation .table-of-contents .step-header {
      font-weight: 300;
      display: block;
      color: #2a2d34;
      -webkit-transition: .5s;
      transition: .5s;
      margin-left: 10px; }
      main .documentation .table-of-contents .step-header:hover {
        color: #00e896; }
  main .documentation .contents {
    margin-top: 50px;
    float: left;
    width: 100%; }
    main .documentation .contents .section {
      margin-bottom: 60px;
      float: left;
      width: 100%; }
    main .documentation .contents .section-title {
      font-family: "Fira Sans", sans-serif;
      font-weight: 700;
      font-size: 40px;
      color: #2a2d34;
      line-height: 52px;
      padding: 10px 0; }
    main .documentation .contents .step {
      float: left;
      width: 100%;
      margin-bottom: 60px; }
      main .documentation .contents .step .step-title {
        font-family: "Fira Sans", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: rgba(42, 44, 52, 0.6);
        padding: 5px 0;
        border-bottom: solid 1px #999999;
        margin-bottom: 20px; }
      main .documentation .contents .step .step-image {
        width: 520px;
        float: right; }
        main .documentation .contents .step .step-image img {
          max-width: 100%; }
      main .documentation .contents .step .step-text {
        font-family: "EB Garamond", serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 20px;
        width: 740px; }
        main .documentation .contents .step .step-text p {
          margin-bottom: 20px; }
          main .documentation .contents .step .step-text p i {
            font-style: italic; }
        main .documentation .contents .step .step-text ul {
          font-size: 24px;
          line-height: 36px;
          padding-bottom: 20px;
          padding-left: 20px;
          margin-top: -20px; }
          main .documentation .contents .step .step-text ul li {
            list-style: disc; }
main .detail {
  width: 1280px;
  margin: 60px auto; }
  main .detail .project {
    width: 100%; }
    main .detail .project .images {
      width: 640px;
      height: 480px;
      float: left; }
    main .detail .project .info {
      width: 640px;
      height: 480px;
      float: left;
      box-sizing: border-box;
      border: solid 1px #2a2d34; }
      main .detail .project .info .projectTitle {
        height: 80px;
        border-bottom: solid 1px #2a2d34;
        padding-left: 30px;
        font-weight: 500;
        font-size: 28px;
        color: #2a2d34;
        line-height: 80px; }
      main .detail .project .info .author {
        display: block;
        position: relative;
        color: #2a2d34;
        box-sizing: border-box;
        padding-right: 15px;
        text-align: right;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-bottom: solid 1px #2a2d34;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.5px;
        -webkit-transition: .5s;
        transition: .5s; }
        main .detail .project .info .author::before {
          content: 'by';
          text-align: left;
          position: absolute;
          left: 30px;
          font-weight: 300;
          color: #2a2d34; }
        main .detail .project .info .author:hover {
          color: #00e896; }
      main .detail .project .info .projectDetail {
        font-family: "EB Garamond", serif;
        font-size: 24px;
        color: #333333;
        line-height: 36px;
        padding: 20px 15px 20px 30px;
        height: 216px;
        overflow-y: auto; }
      main .detail .project .info .others {
        border-top: solid 1px #2a2d34;
        height: 80px; }
        main .detail .project .info .others .sendCubeButton {
          float: left;
          width: 319px;
          height: 80px;
          box-sizing: border-box;
          border-right: solid 1px #2a2d34;
          font-weight: 500;
          font-size: 28px;
          color: #2a2d34;
          line-height: 80px;
          text-align: center;
          cursor: pointer;
          -webkit-transition: .5s;
          transition: .5s; }
          main .detail .project .info .others .sendCubeButton:hover {
            background-color: #00e896; }
        main .detail .project .info .others .social {
          float: left;
          text-align: center;
          width: 319px;
          height: 80px;
          box-sizing: border-box;
          padding-top: 16px; }
          main .detail .project .info .others .social a {
            display: inline-block;
            height: 48px;
            width: 48px;
            border-radius: 100%;
            box-sizing: border-box;
            border: solid 1px #2a2d34;
            margin-right: 8px;
            -webkit-transition: .5s;
            transition: .5s; }
            main .detail .project .info .others .social a:hover {
              border: solid 1px white;
              background: #00e896; }
            main .detail .project .info .others .social a::before {
              content: '';
              width: 48px;
              height: 48px;
              display: block; }
            main .detail .project .info .others .social a.icon-googleplus::before {
              background: url(../i/google-plus.svg) no-repeat center center; }
            main .detail .project .info .others .social a.icon-facebook::before {
              background: url(../i/facebook.svg) no-repeat center center; }
            main .detail .project .info .others .social a.icon-twitter::before {
              background: url(../i/twitter.svg) no-repeat center center; }
            main .detail .project .info .others .social a.icon-vine::before {
              background: url(../i/vine.svg) no-repeat center center; }
  main .detail .comment {
    margin-top: 60px; }
    main .detail .comment h3 {
      font-weight: 300;
      font-size: 32px;
      color: #2a2d34;
      line-height: 60px;
      position: relative; }
      main .detail .comment h3::before {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 80px;
        height: 1px;
        background-color: #2a2d34; }
    main .detail .comment .commentEntry {
      padding: 58px 40px 40px 40px;
      margin-top: 30px;
      width: 926px;
      box-sizing: border-box;
      position: relative; }
      main .detail .comment .commentEntry p {
        font-family: "EB Garamond", serif;
        font-size: 24px;
        color: #2a2d34;
        line-height: 36px; }
      main .detail .comment .commentEntry textarea {
        border: none;
        width: 100%;
        font-family: "EB Garamond", serif;
        font-size: 24px;
        color: #2a2d34;
        line-height: 36px; }
      main .detail .comment .commentEntry .author {
        position: absolute;
        top: 0px;
        left: 70px;
        background: #EEEEEE;
        border-radius: 8px;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        height: 36px;
        letter-spacing: 0.5px;
        color: #2a2d34;
        padding: 0 20px;
        letter-spacing: 0.5px;
        -webkit-transition: .5s; }
        main .detail .comment .commentEntry .author::after {
          content: ' says:';
          font-weight: 300;
          color: #2a2d34; }
        main .detail .comment .commentEntry .author:hover {
          color: #00e896; }
        main .detail .comment .commentEntry .author.author-self::after {
          content: ' say:'; }
      main .detail .comment .commentEntry .commentButton {
        position: absolute;
        bottom: -18px;
        right: 70px;
        border: solid 1px #2a2d34;
        border-radius: 8px;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        height: 36px;
        letter-spacing: 0.5px;
        color: #2a2d34;
        padding: 0 20px;
        cursor: pointer;
        -webkit-transition: .5s;
        transition: .5s; }
        main .detail .comment .commentEntry .commentButton:hover {
          border: solid 1px white;
          background: #00e896; }
      main .detail .comment .commentEntry::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        top: 18px;
        left: 0px;
        width: 60px;
        height: 60px;
        border-left: solid 1px #2a2d34;
        border-top: solid 1px #2a2d34; }
      main .detail .comment .commentEntry::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        bottom: 0px;
        right: 0px;
        width: 60px;
        height: 60px;
        border-right: solid 1px #2a2d34;
        border-bottom: solid 1px #2a2d34; }
main .gallery {
  width: 1280px;
  margin: 60px auto; }
  main .gallery .card {
    width: 412px;
    height: 474px;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
    cursor: pointer; }
    main .gallery .card:nth-child(3n) {
      margin-right: 0px; }
    main .gallery .card .img {
      height: 309px;
      position: relative; }
      main .gallery .card .img img {
        width: 100%;
        height: 100%;
        display: block; }
      main .gallery .card .img .author {
        color: white;
        box-sizing: border-box;
        padding-right: 15px;
        text-align: right;
        position: absolute;
        bottom: 0;
        height: 42px;
        width: 100%;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 42px;
        background: rgba(0, 232, 150, 0.6);
        letter-spacing: 0.5px;
        -webkit-transition: .5s; }
        main .gallery .card .img .author:hover {
          color: #00e896; }
        main .gallery .card .img .author::before {
          content: 'by';
          text-align: left;
          position: absolute;
          left: 30px;
          font-weight: 300;
          color: white; }
    main .gallery .card h2 {
      margin: 20px 15px 10px 30px;
      font-weight: 500;
      font-size: 24px;
      color: #2a2d34;
      line-height: 36px; }
    main .gallery .card p {
      font-family: "EB Garamond", serif;
      font-size: 20px;
      color: #333333;
      line-height: 24px;
      margin: 0 15px 0 30px; }
main .create {
  width: 600px;
  margin: 100px auto; }
  main .create .buttonGroup .button {
    width: 290px;
    margin-left: 20px;
    float: left; }
    main .create .buttonGroup .button:first-child {
      margin-left: 0px; }
main .login {
  width: 340px;
  margin: 100px auto; }
main .tabs {
  font-weight: 400;
  font-size: 16px;
  color: rgba(42, 45, 52, 0.4);
  margin-bottom: 20px;
  height: 30px; }
  main .tabs a {
    color: rgba(42, 45, 52, 0.4);
    -webkit-transition: .5s;
    transition: .5s; }
    main .tabs a:hover {
      color: #00e896; }
    main .tabs a.active {
      color: #00e896;
      opacity: 1;
      font-size: 28px; }
main .tabWrapper {
  display: none; }
  main .tabWrapper.active {
    display: block; }
