{% extends "cubetube/base.html" %}
{% load staticfiles %}

{% block header %}
    {% include "cubetube/partials/_header.html" with page="docs" large=0 %}
{% endblock %}

{% block content %}
<div class="docs-header">
  <img src="/static/images/docs/cube-head.png" />
  <h1>Hello!</h1>
  <p>
    Welcome to the wonderful world of 3D LED volumetric display!
  </p>
</div>

<div class="docs-wrapper clearfix">
  <ul class="docs-nav"> 
    <li class="bolder specs"><a>GETTING STARTED WITH YOUR CUBE</a></li>
    <li class="introduction"><a>Introduction</a></li>
    <li class="cubetube-intro"><a>Creating and Sharing on CubeTube</a></li>
    <li class="specs-two"><a>8x8x8 Cube Specifications</a></li>
    <li class="assembly"><a>Assembling your 8x8x8 Cube</a></li>
    <li class="bolder powering-up"><a>Powering Up</a></li>
    <li class="power"><a>The Power</a></li>
    <li class="bolder default"><a>Playing Default Demos</a></li>
    <li class="demos"><a>Demos</a></li>
    <li class="bolder connecting"><a>Connecting to WIFI</a></li>
    <li class="listening"><a>Getting into Listening Mode</a></li>
    <li class="using-spark"><a>Using the Spark App for Connecting to WiFi</a></li>
    <li class="claiming-core"><a>Claiming Your Core</a></li>
    <li class="wifi-locations"><a>Switching to New WiFi Locations</a></li>
    <li class="bolder cubetube"><a>CUBETUBE: THE VOLUMETRIC WONDERLAND</a></li>
    <li class="loading-apps"><a>Loading CubeTube Apps onto Your Cube</a></li>
    <li class="programming"><a>Programming Cubes on CubeTube</a></li>
    <li class="bolder code-for-cubes"><a>Code for cubes</a></li>
    <li class="mode1"><a>Mode 1: Native Code</a></li>
    <li class="mode2"><a>Mode 2: Streaming Code</a></li>
    <li class="bolder multiple-cubes"><a>Connecting Multiple Cubes</a></li>
    <li class="bolder open-source"><a>Opensource License</a></li>
    <li class="bolder improvements"><a>Improvements List</a></li>
    <li class="bolder troubleshooting"><a>Troubleshooting</a></li>
  </ul>

<div class="docs-main">
  <img src="/static/images/docs/white-cube.png" />
  <div class="docs-text-area">

    <!-- The cube -->
    <h1 id="specs">GETTING STARTED WITH YOUR CUBE</h1>
    <h2 id="introduction">Introduction</h2>
    <p>
If you're here you're likely one of the first owners of a L3D Cube  (8x8x8 edition).  Hi there you lover of the future, you!   This section of the site is intended to help you create and share apps on your Cubes.  Let's get started!
</p>
<p>
  Each L3D Cube 8x8x8 edition comes with 512 RGB LEDs mounted in an array, powered over USB (or via the L3D Cube Battery Shield), and connected to WiFi.  The brain and WiFi connection center of the Cubes is a Spark Core  (upgrading to the Photon in late June 2015), which can be  programmed like an Arduino.  There's also a built in microphone and accelerometer in each Cube for music visualization and interactive apps.
    </p>
    <div class="question-section">
      <img src="/static/images/docs/question.png" />
      <p>
        If you’ve any questions that aren’t addressed here, head on over to the <a href="/forum/">Forum</a> or email Shawn & Alex at <a href="mailto:info@lookingglassfactory.com">info@lookingglassfactory.com</a>.  
      </p>
    </div>
<h2 id="cubetube-intro">Creating and Sharing on CubeTube</h2>
<p>
The magic of owning a Cube comes with being a part of the world's first volumetric app sharing community, CubeTube!  Each Cube can download new apps from CubeTube.org with a click of a mouse or finger -- no programming needed.
</p>
<p>
But for any programmers out there - HELLO!  CubeTube is designed to help you create and share like a boss.  You can now write code directly in  CubeTube's browser window, preview your programs in a simulated 3D Cube,  share the apps you create on CubeTube more easily than ever before, and fork other people's code so you can build new Cube apps with startling speed.  More details in the CubeTube sections below!
</p>
    <h2 id="specs-two">8x8x8 Cube Specifications</h2>
    <p>
      There are two types of L3D Cubes so far:  the 8x8x8 edition with 512 RGB LEDs and the 16x16x16 edition with 4096 RGB LEDs.  This documentation section currently only addresses the 8x8x8 edition and will be expanded to include the larger 16x16x16 edition in Spring 2015.
    </p>
    <p>
      Each L3D Cube 8x8x8 edition comes with 512 RGB LEDs mounted in an array, powered over USB, and connected to WiFi.  The brain and WiFi connection center of the Cubes is a <a href="https://www.spark.io/">Spark Core</a> (soon to be a Spark Photon), which can be programmed like an Arduino.  There’s also a built in microphone and accelerometer in each Cube.  
    </p>
    <p>
      <b>LEDs:</b> 512 RGB surface-mounted LEDs. <br>
      The specific type of LED used is a WS2812B, made by WorldSemi.  There are 8 LEDs to each LED reed, and each LED reed is 
      identical, connected into a custom base PCB.
    </p>
    <p>
      <b>Power:</b> 5V 1A USB power can power most applications on your Cube.  We’ve also included a 2A  adapter. 100VAC - 220VAC input for higher power demand apps.  And there’s a bypass around the 1.7A current-limit we’ve built into the Cubes too, for ridiculously bright applications.
    </p>
    <div> 
      <div class="offline-image">
        <img src="/static/images/docs/black-cube.png" />
        <p>
          8x8x8 Ediiton with 512 RGB LEDs
        </p>
      </div>
      <b>Casing:</b> Laser-cut acrylic housing
    </div>
    <h2 id="assembly">Assembling your 8x8x8 Cube</h2>
    <p>
      In 30 minutes flat, you can transform that box of parts into a 8x8x8 L3D Cube!<br>
      Watch this extremely short assembly video.
    </p>

    <iframe src="https://player.vimeo.com/video/112660603" width="560" height="310" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <p>
      Or download the full instructions <a href="https://www.dropbox.com/sh/tyudi407wq55rf2/AADVB_WFlFF6lbwUJyrFKErga?dl=0">here</a>.
    </p>

    <hr>

    <!-- POWERING UP -->
    <h1 id="powering-up">Powering Up</h1>
    <h2 id="power">The power</h2>
    <p>
      Each L3D Cube comes with a 3-ft microUSB cable and 2A adapter.  5V, 500mA USB power can power the Default Demos and many of the apps you’ll find on CubeTube - so your Cube can run off your computer, wall wart, or a battery pack. But we’ve also included the 2A adapter with 100VAC -  220VAC input for more intense visualizations (you will need to supply your own prong adapter if outside the US).
    </p>
    <p>
      <b>Note 1:</b><br>
      There is a 1.7A current limit built into the baseboard of the 8x8x8 Cubes.
    </p>
    <div>
      <b>Note 2:</b><br>
        There is a bypass built into the baseboard of the 8x8x8 L3D Cubes which allows advanced users to get around the current limit for super bright cubing.  Some of these modifications are popping up on the Forum, check them out!
        <div class="offline-image baseboard">
          <img src="/static/images/docs/chips-1.png" />
          <p>
            Baseboard of the 8x8x8 Cubes.
          </p>
        </div>
    </div>

    <hr>

    <!-- Default demo's -->
    <h1 id="default">Playing Default Demos</h1>
    <h2 id="demos">Demos</h2>
    <p>
      The 8x8x8 L3D Cubes come pre-loaded with four demos:
    </p>
    <ul>
      <li><b>Demo 1.</b> Fireworks</li>
      <li><b>Demo 2.</b> Zplasma</li>
      <li><b>Demo 3.</b> Squarral</li>
      <li><b>Demo 4.</b> Purple Rain (sound reactive)</li>
    </ul>
    <p>
      The four demos will loop forever by default. You can stop the loop and play just one selected demo by tilting left, right, and forward.
    </p>
    <p>
      The loop can be restarted by reconnecting to power.
    </p>

    <img class="preload-demo" src="/static/images/docs/preload-demo.png" />

    <hr>

    <!-- Connecting to WiFi -->
    <h1 id="connecting">Connecting to WiFi</h1>
    <p>
      If you already have a L3D Cube, you’re in the very earliest adopter group - a pioneer, you might say.  You can connect your Cube to WiFi through the Spark App.  These are instructions for how to do so come directly from <a href="https://spark.io">spark.io</a>.
    </p>
    <h2 id="listening">Getting into Listening Mode</h2>
    <p>
      Each Cube is controlled by a Spark Core (soon to be a Spark Photon).  This is the small circuit board that you plug your USB cable into for power.
    </p>
    <p>
      When you plug in your 8x8x8 L3D Cube for the first time and switch the slider-switch at the back of your Cube to "Online", you should see the Spark Core start to blink a blue light.  If not, then press down the "Join WiFi" button next to the Spark Core.
    </p>
    <p>
      Once your Spark Core on the underside of your Cube is blinking a blue light, it’s ready to be connected to your local WiFi network via the Spark App.
    </p>

    <iframe class='vine-embed' src="https://vine.co/v/hFHPMue5lgd/embed/simple" width="560" height="560" frameborder='0'></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>

    <h2 id="using-spark">Using the Spark App for Connecting to WiFi</h2>
    <p>
      <a name="spark-app">Download the Spark App to your phone from the </a><a href="https://itunes.apple.com/us/app/spark-core/id760157884?mt=8">App Store</a> or <a href="https://play.google.com/store/apps/details?id=io.spark.core.android&amp;hl=en">Google Play</a> . (If you don’t have a phone that can download apps, no problem...you can still get your Cube online, it’s just a little more involved of a process to <a href="http://docs.spark.io/connect/#connecting-your-core-connect-over-usb">Connect over USB</a>)
    </p>
    <div>
      Once you’ve downloaded the Spark Core app from the App Store or Google Play, you should create an account. Afterwards, you’ll be asked  to connect your Core,
      <div class="offline-image spark">
        <img src="/static/images/docs/spark-code-addition.png" />
        <p>
          Spark App Login screen on iOS.
        </p>
      </div>
    </div>

    <div class="question-section wifi-question">
      <img src="/static/images/docs/wifi-symbol.png" />
      <p>
        Your phone must be connected to the  Wi-Fi network that you want to connect the Core to.  Wi-Fi Hotspots generated from the phone you are running this app on typically will yield an error claiming there is no Wi-Fi available.  
      </p>
      <p>
        In this case, please try to <a href="http://docs.spark.io/connect/#connecting-your-core-connect-over-usb">Connect over USB</a> and enter your Hotspot credentials manually.
      </p>
    </div>
    <p>
      When connected to Wi-Fi, the app will automatically fill the SSID  field with the name of the network that your phone is connected to.   Enter your Wi-Fi password and hit connect.
    </p>
    <p>
      This connection process can take up to a minute, so be patient. The closer your phone is to your Spark Core, the faster it will connect. Once the Core hears the signal, it will go through the following sequence of lights:
    </p>
    <p>
      <ul>
        <li>Solid blue: Credentials captured</li>
        <li>Flashing green: Connecting to Wi-Fi network</li>
        <li>Flashing cyan: Connecting to Spark Cloud</li>
        <li>Breathing cyan: Connected to Spark Cloud</li>
      </ul>
    </p>
    <p>
      Once the Spark Core has connected, your phone will "claim" the Core and attach it to your account. Then you’ll get to name your Core.  If  you’re uncertain, you can confirm that the claim process was successful by logging into the <a href="https://www.spark.io/build">Spark Web IDE</a> and clicking the "Cores" icon at the bottom of the page.  Is your Core listed?  Great!  The world is perfect.
    </p>
    <div class="question-section">
      The Core MUST be online (breathing cyan)  in order for the claiming process to work. 
      If the Spark Core has been  claimed by someone else, the app won’t recognize it.  
    </div>
    <p>
      If you are connecting multiple Cores, you’ll go through this naming process for each Core. You’ll know which one is which by the rainbow signal.
    </p>

    <h2 id="claiming-core">Claiming your Core</h2>
    <p>
      Once your Cube’s Spark Core is connected to WiFi via the Spark App, it needs to be claimed in order to be associated with your account. This is what lets you control your Cube and keeps anyone else from doing so.
    </p>
    <p>
      If you use the mobile app to set up your Core, it should claim it automatically. However if you connect your Core over USB, or if the claiming process is unsuccessful, you can claim it manually.
    </p>
    <p>
      The easiest way to manually claim a Core over USB is to use the <a href="https://github.com/spark/spark-cli">Spark Command Line Interface</a>. Once you have this installed, you can simply type spark setup and follow the instructions.
    </p>
    <p>
      Alternatively, if you have troubles installing the command line tool,  you can get the Core’s ID over serial and claim it via the build site. You can do this by opening a Serial connection to the Core and pressing  the i key (see the above instuctions for connecting over USB). It should show you a number like this:
    </p>
    <p>
      <b><i># Example Core ID55ff68064989495329092587</i></b>
    </p>
    <p>
      Then open up <a href="https://www.spark.io/build">Spark Build</a> and click the ’Cores’ icon. Click the button that says ’Add a Core’, and enter your ID in the text box.
    </p>

    <h2 id="wifi-locations">Switching to New WiFi Locations</h2>
    <p>
      When you move to a new WiFi locations, you can get your Cube’s Spark Core back into Listening Mode by clicking the big round "Connect to WiFi" button next to your Cube’s Spark Core, on the underside of the Cube.  This will not delete any programs you have stored in the internal memory of the Spark Core, and just clears the WiFi credentials and puts the Spark Core back into WiFi Listening Mode.  Then repeat the process above to connect to the new WiFi location.
    </p>

    <hr>

    <!-- Loading Cubetube Apps -->
    <h1 id="cubetube">CUBETUBE: THE VOLUMETRIC WONDERLAND</h1>
    <h2 id="loading-apps">Loading CubeTube Apps onto Your Cube</h2>
<p>When you first go to CubeTube.org, click the "Join or Log in" button.  Log in using the spark.io username and password that you created when you were connecting your Cube to WiFi in the previous step.
</p>
<p>You can browse the Gallery and see simulations of most apps in your browser when you mouse-over the app thumbnail.</p>
<center><img src="/static/images/docs/cubetube-mouseover.gif" /></center>
<p>There are two main types of apps on Cubetube</p>
<center><img src="/static/images/docs/cubetube-types.png" /></center>
<p>If you like a particular app and want to load it onto your Cube, choose one of your online Cube from the dropdown menu and click "Send to Cube".  If you chose a "Cube Required" app, immediately after you click the Send to Cube button, the LED on the Spark Core under your Cube should start to blink purple (indicating it is downloading the app).  This download process will take 10-45 seconds.
</p>
<p>
If you chose a "Cube + Computer Required" app for the first time, the L3D library will be sent to your Cube and the LED on the Spark Core under your Cube should start to blink purple (indicating it is downloading the L3D library).  After the download is complete, the app you see in the browser window should start in your Cube.</p>
    <h2 id="programming">Programming Cubes on CubeTube</h2>
    <p>BIG NEWS!  You can now write code directly in the browser window on CubeTube, fork other people's programs (e.g., "Sketches"), and easily simulate and share your programs with the rest of the CubeTube community.</p>
<img src="/static/images/docs/cubetube-code.png" width="85%"/>
    <p>You can get started by forking another user's sketch, or you can start from scratch by clicking the blue "Create" button.  To write code in <a href="http://docs.particle.io/core/firmware/">Spark's arduino-esque language</a> that will live entirely on Cubes (and won't require a computer to run), choose the L3D tab.  To write Cube + Computer code that will require a WiFi-connected computer to run, choose the JS tab.</p>
<img src="/static/images/docs/cubetube-viz-type.png" width="75%"/>
<p>We have libraries for drawing in the cube in both Spark and javascript code.  Javascript apps are written in processing.js syntax and executed in a processing.js environment, and they automatically include our <a href="http://docs.l3dcube.com/Processing/L3D/L3D.html">Processing library</a> in the code.  Spark apps are written in Spark's arduino-compatible syntax and include our <a href="http://docs.l3dcube.com/Spark/classCube.html">Spark L3D library</a> in the code.
    <hr>

    <!-- Connecting multiple cubes (advanced) -->
    <h1 id="multiple-cubes">Connecting multiple cubes</h1>
    <p>
      Coming soon
    </p>

    <hr>

    <!-- Opensource License -->
    <h1 id="open-source">Opensource License</h1>
    <h2>Hardware & Software Repo</h2>
    <div class="question-section no-padding">
      Cube firmware: <a href="https://github.com/enjrolas/L3D-Software">https://github.com/enjrolas/L3D-Software</a>
    </div>
    <div class="question-section no-padding">
      Cube hardware: <a href="https://github.com/enjrolas/L3D-Hardware">https://github.com/enjrolas/L3D-Hardware</a>
    </div>
    <div class="question-section no-padding">
      Processing library: <a href="https://github.com/enjrolas/L3D-library">https://github.com/enjrolas/L3D-library</a>
    </div>
    <div class="question-section no-padding">
      Spark library: <a href="https://github.com/enjrolas/beta-cube-library">https://github.com/enjrolas/beta-cube-library</a>
    </div>
    <p>
      Here’s an Instructable on <a href="http://www.instructables.com/id/How-to-Draw-Sweet-3D-Graphics-for-LED-cubes/">How to Draw Sweet 3D Graphics for LED cubes</a> - there’s even a cube simulator so you don’t even have to wait for your cubes to get started.
    </p>

    <hr>

    <!-- Improvements List -->
    <h1 id="improvements">Improvements List</h1>
    <p>
      This is a list of hardware, firmware, & software improvements we’re strongly considering implementing in follow-up revs of the L3D Cube.  These improvements are based on ideas at Looking Glass Lab & within the community via the Kickstarter comment boards and the CubeTalk Forum.
    </p>

    <hr>

    <!-- Troubleshooting -->
    <h1 id="troubleshooting">Troubleshooting</h1>
    <p>
      The very first L3D Cube owners are just getting their Cubes now and we’re in the process of making a Troubleshooting list.
    </p>
    <p>
      For now, if you’re having trouble connecting your Cube to WiFi or downloading Apps from CubeTube, please head over to the Forum and post your question there...someone in the community or within the Looking Glass team will help out!  
    </p>
    <p>
      We will then compile the most frequently encountered issues in this section.
    </p>

  </div>
</div>
</div>

{% endblock %}

{% block footer %}
    {% include "cubetube/partials/_footer.html" %}
{% endblock %}
