/**
 * Cubetube main styles
 * -- Its hip to be cube!
 */

 /**
  * Vars & mixins
  */

$purple: #1c1521;
$blue: #2bc6fb;
$red: #da003e;

html, body {
    margin: 0px;
    padding: 0px;
    background: blue;
}

header {
    height: 100px;
    background: #000;
}

footer {
    height: 400px;
    background: url(../images/cube-pattern.png);
}
